// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


input, button {
  background: #fff;
  width: 80%;
  color: #777;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;

  &[type=text] {
    border-color: #f77;
  }

}

.gutter {
  margin-top: 40px !important;
}
.gutter-bottom {
  margin-bottom: 20px !important;
}

h1,
h2,
h3 {
  color: #fff;
}



.story-card {


  p {
    font-size: 16px;
    margin-bottom: 20px;

    &:first-child:first-letter {
      color: #903;
      float: left;
      font-family: Georgia;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

    &:not(:first-child):not(.quote) {
      text-indent: 20px;
    }

  }

  .quote {
    padding-left: 40px;
  }

}



ion-slides {
  height: 100%;


  ion-slide {
    padding: 12px;
    position: relative;

    .music-setting {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 30px;
    }

  }

  .slide-zoom, ion-card {
    height: 100%;
  }

  ion-card {
    display: flex;
    flex-flow: column;
    margin: 0 !important;
    width: 100% !important;

    ion-card-content {
      flex-grow: 1;
      height: auto;
      overflow: hidden;
      overflow-y: auto;
    }
  }

}

ion-item button.item-cover {
  border : 0;
}