<ion-grid style="background: #000 url('assets/menu.png') no-repeat center center;">
  <ion-row>
    <ion-col align-self-center text-center>
        <div class="menu-container">
            <div *ngIf="status == 'main'">
                <div>
                    <h3>The Gingerbread Man Story</h3>
                </div>
                <div>
                    <input type="button" value="Select user" margin-top  (click)="status = 'users_list'" *ngIf="users_list.length">
                </div>
                <div>
                    <input type="button" value="Add new user" margin-top  (click)="status = 'new_user'">
                </div>
                <div>
                    <input type="button" value="Music Settings" margin-top  (click)="musicSetting()">
                </div>
            </div>
            <div *ngIf="status == 'new_user'">
                <div>
                    <h3>Add New User</h3>
                </div>
                <div style="color: #f30d0d;">
                    <span>{{ new_user_error }}</span>
                </div>
                <div>
                    <input type="text" placeholder="Enter your name" margin-top [attr.value]="new_user_name" #new_user_name_input (keyup.enter)="addNewUser()" (change)="new_user_name = new_user_name_input.value">
                </div>
                <div>
                    <input type="submit" value="Create" margin-top (click)="addNewUser()">
                </div>
                <div>
                    <input type="submit" value="Return to menu" class="gutter gutter-bottom" margin-top (click)="status= 'main'; new_user_error = ''">
                </div>
            </div>
            <div *ngIf="status == 'users_list'">
                <div>
                    <h3>Users List</h3>
                </div>
                <div style="max-height: 300px; overflow: hidden; overflow-y: auto">
                    <div *ngFor="let user of users_list">
                        <input type="button" [attr.value]="user" margin-top (click)="loginUser(user)" >
                    </div>
                </div>
                <div *ngIf="users_list.length">
                    <input type="submit" value="Delete a user" class="gutter" margin-top (click)="status= 'delete_user'">
                </div>
                <div>
                    <input type="submit" value="Return to menu" class="gutter-bottom" margin-top (click)="status= 'main'">
                </div>
            </div>
            <div *ngIf="status == 'delete_user'">
                <div>
                    <h3>Delete a User</h3>
                </div>
                <div style="max-height: 300px; overflow: hidden; overflow-y: auto">
                    <div *ngFor="let user of users_list">
                        <input type="button" [attr.value]="user" margin-top (click)="confirmRemoveUser(user)">
                    </div>
                </div>
                <div>
                    <input type="submit" value="Return to list" class="gutter gutter-bottom" margin-top (click)="status= 'users_list'">
                </div>
            </div>
            <div *ngIf="status == 'delete_user_confirm'">
                <div>
                    <h3>Delete user '{{ delete_user_name }}'</h3>
                </div>
                <div>
                    <p style="color: #f30d0d" padding>
                        This will also delete all the saved data of this user.
                    </p>
                </div>
                <div>
                    <input type="submit" value="Delete" class="gutter" margin-top (click)="removeUser()">
                </div>
                <div>
                    <input type="submit" value="Return" class="gutter gutter-bottom" margin-top (click)="status= 'delete_user'">
                </div>
            </div>
            <div *ngIf="status == 'stories_list'">
                <div>
                    <h3>Select a Story</h3>
                </div>
                <div *ngFor="let story of stories_titles">
                    <button class="story" margin-top (click)="selectStory(story)">
                        {{ story }}
                    </button>
                </div>
                <div>
                    <input type="submit" value="Return to menu" class="gutter gutter-bottom" margin-top (click)="status= 'main'">
                </div>
            </div>
            <div *ngIf="status == 'story_select'">
                <div>
                    <h3>Select </h3>
                </div>
                <div *ngIf="users_data[login_name] != undefined">
                    <input type="submit" value="Load saved story" margin-top (click)="loadSavedStory()">
                </div>
                <div>
                    <input type="submit" value="Select a new story" margin-top (click)="status= 'stories_list'">
                </div>
                <div>
                    <input type="submit" value="Return to menu" class="gutter gutter-bottom" margin-top (click)="status= 'main'">
                </div>
            </div>
        </div>
    </ion-col>
  </ion-row>
</ion-grid>